<div class="tess-controls">
  <input class="tess-controls__file"
         id="file"
         type="file"
         name="datafile"
         size="40"
         multiple
         webkitdirectory
         mozdirectory
         msdirectory
         odirectory
         directory
         (change)="onChange($event)"
  >
  <label for="file" class="icons">
    <span class="material-icons">videocam</span>
  </label>
  <button class="tess-controls__previous icons" (click)="onPrevious()">
    <span class="material-icons">skip_previous</span>
  </button>
  <button class="tess-controls__rewind icons" (click)="onFastRewind()">
    <span class="material-icons">fast_rewind</span>
  </button>
  <button class="tess-controls__play icons" (click)="onPlayClick()">
    <span class="material-icons">{{isPlaying ? 'pause' : 'play_arrow'}}</span>
  </button>
  <button class="tess-controls__fast-forward icons" (click)="onFastForward()">
    <span class="material-icons">fast_forward</span>
  </button>
  <button class="tess-controls__next icons" (click)="onNext()">
    <span class="material-icons">skip_next</span>
  </button>
  <div class="tess-controls__scrubber">
    <input type="range" step=".0001" [value]="time.toString()" min="0" [max]="duration.toString()" (input)="onScrub($event)" />
  </div>
  <div class="tess-controls__times">
    {{formatTime(time)}}
    <span class="tess-controls__times-divider">/</span>
    {{formatTime(duration)}}
  </div>
  <button class="tess-controls__drawer icons" (click)="onDrawerOpen()" [class.open]="isDrawerOpen">
    <span class="material-icons">{{isDrawerOpen ? 'close' : 'chevron_left'}}</span>
  </button>
  <div class="tess-controls__file-drawer" [class.open]="isDrawerOpen">
    <app-file-selector [files]="fileTimes" (change)="onFileChange($event)" [current]="playingFileName">
    </app-file-selector>
  </div>
</div>
